<ng-container *ngIf="group ; else loading">

  <div class="row">
    <div class="col-md-6">
      <h5>Projects</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let project of group.projects">
          <h6>{{project.name | titlecase}} <small>{{project.createdAt}}</small></h6>
        </li>
      </ul>
    </div>
    <div class="col-md-6 numbers-project">
      <h5>Information</h5>
      <div class="row">
        <div class="col-md-6">Total commits: </div>
        <div class="col-md-6"><span class="badge badge-secondary">{{group.numbers.numberCommits | number}}</span></div>
      </div>
      <div class="row">
        <div class="col-md-6">Total lines: </div>
        <div class="col-md-6"> <span class="badge badge-secondary">{{group.lines.total | number}}</span></div>
      </div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"> <span class="badge badge-success">{{group.lines.additions | number}}</span></div>
      </div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6"> <span class="badge badge-danger">{{group.lines.deletions | number}}</span></div>
      </div>
      <div class="row">
        <div class="col-md-6">Total pull request: </div>
        <div class="col-md-6"> <span class="badge badge-secondary">{{group.numbers.numberPrs | number}}</span></div>
      </div>
      <div class="row">
        <div class="col-md-6">Total authors: </div>
        <div class="col-md-6"> <span class="badge badge-secondary">{{group.numbers.numberAuthors | number}}</span></div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <app-cloud [files]="group.files"></app-cloud>
    </div>
  </div>

  <button routerLink="/groups/{{groupId}}/projects" mat-fab class="add-group-fixed">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>

<ng-template #loading>
</ng-template>

