
<ng-container *ngIf="users; else loading">

  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Authors</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>User</th>
                <th>Commits</th>
                <th>Total Lines</th>
                <th>%</th>
                <th>Additions</th>
                <th>Deletions</th>
                <th><i class="far fa-clock pr-2"></i>First commit</th>
                <th><i class="far fa-clock pr-2"></i>Last commit</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>User</th>
                <th>Commits</th>
                <th>Total Lines</th>
                <th>%</th>
                <th>Additions</th>
                <th>Deletions</th>
                <th><i class="far fa-clock pr-2"></i>First commit</th>
                <th><i class="far fa-clock pr-2"></i>Last commit</th>
              </tr>
              </tfoot>
              <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.user}}</td>
                <td class="font-weight-bold text-primary">{{user.commits | number}}</td>
                <td class="font-weight-bold text-success">{{user.total | number}}</td>
                <td class="font-weight-bold">{{user.total / totalLines | percent:'1.0-2'}}</td>
                <td class="font-weight-bold text-info">{{user.additions | number}}</td>
                <td class="font-weight-bold text-warning">{{user.deletions | number}}</td>
                <td>{{user.firstCommit | date}}</td>
                <td>{{user.lastCommit | date}}</td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
<ng-template #loading>
</ng-template>
