<ng-container *ngIf="activityGroup ; else loading">

  <div class="row">
    <div class="col-md-5">
      <div class="card shadow mb-4">
        <!--
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Experts</h6>
        </div>
        -->
        <div class="card-body">
          <app-polar-graphic [categories]="categoriesDays" [data]="dataDays"></app-polar-graphic>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card shadow mb-4">
        <!--
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Experts</h6>
        </div>
        -->
        <div class="card-body">
          <app-bar-graphic [categories]="categoriesHours" [data]="dataHours"></app-bar-graphic>
        </div>
      </div>
    </div>
  </div>

</ng-container>

<ng-template #loading>
</ng-template>

