
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <h5 class="text-info">New group</h5>

    <form class="git-form" [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Name Group" formControlName="name">
        <app-form-error [control]="name"></app-form-error>
      </mat-form-field>

      <button mat-mini-fab [disabled]="form.invalid" (click)="onSubmit(form.value)">
        <mat-icon>add</mat-icon>
      </button>
    </form>
  </div>
</div>
