.add-group-fixed
  bottom: 10%
  position: fixed
  right: 5%

.list-group
  .mat-icon-button
    height: initial
    line-height: 1
    padding: 0 7px
    width: initial


.item-list
  font-size: 90%

