
<ng-container *ngIf="groups ; else loading">

  <h5>Groups</h5>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let group of groups">
      {{group.name}}
      <button mat-icon-button class="float-right" (click)="delete(group.id)"><mat-icon>delete_sweep</mat-icon></button>
      <button mat-icon-button class="float-right" routerLink="/groups/{{group.id}}/edit"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button class="float-right" routerLink="/groups/{{group.id}}"><mat-icon>pageview</mat-icon></button>
    </li>
  </ul>

  <button routerLink="/groups/new" mat-fab  color="primary" class="add-group-fixed">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>

<ng-template #loading>
</ng-template>
