
<ng-container *ngIf="groups ; else loading">

  <h5>Groups</h5>
  <mat-nav-list>
    <mat-divider></mat-divider>
    <mat-list-item class="item-list" *ngFor="let group of groups" routerLink="/groups/{{group.id}}">
      {{group.name}}
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-nav-list>

  <button routerLink="/groups/new" mat-fab class="add-group-fixed">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
