
<ng-container *ngIf="groups ; else loading">
  <p>Groups</p>
  <ul>
    <ng-container *ngFor="let group of groups">
      <a routerLink="/groups/{{group.id}}">
        <li>{{group.name}}</li>
      </a>
    </ng-container>
  </ul>


  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </form>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>

</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
